* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 25px;

}

div#wrapper, footer {
    background-color: rgb(251, 235, 235);
    margin: auto;
    width: 1000px;
    padding: 10px;

}

nav {
    margin: 20px 0 20px 0;
}

nav a {
    margin: 0 20px 0 0;
    color: blue;


}

section.appel, section.visuals {
    width: 50%;
    float: left;

}

img.appel {
    width: 520px;
}


section.visuals {
    text-align: right;

}

img.visuals {
    height: 103px;
    width: 450px;
    margin-bottom: 10px;


}

article {
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;

}

article:last-child {
    padding-right: 0;

}

img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 299px;

}

footer {
    background: rgb(166, 166, 166);
    height: 110px
}

footer a {
    color: white;
}

